<main>
  <header class="brand-name">
    <img width="90px" src="/assets/logo.png" height="90px" alt="logo" aria-hidden="true"> 
  </header>
  <section class="content">
    <router-outlet></router-outlet>
  </section>

</main>








<!-- <div class="main">
<button (click)="greet()"> Klik me</button>

  @for(user of users; track user.id) {
    <p [contentEditable]="isEditable">{{ user.name }}</p>
    }
    <!-- <section (mouseover)="onMouseOver()">
      There's a secret message for you, hover to reveal:
      {{ message }}
    </section> -->
    <!-- <form action=""></form>

</div> -->
